%header
  %h1
    Heroku Toolbelt

  %h2
    The Heroku Toolbelt will give you everything you need
    %br
    to get started using Heroku

.div
  %nav
    %ul#platform.tabNavigation
      %li.mac
        %a{ :href => "#mac" } Mac OS X

      %li.windows
        %a{ :href => "#windows" } Windows

      %li.ubuntu
        %a{ :href => "#linux" } Debian/Ubuntu

  #instructions
    #mac.tab-content.defaulttab
      ~ markdown_plus :osx

    #windows.tab-content
      ~ markdown_plus :windows

    #linux.tab-content
      ~ markdown_plus :linux
