!!! 5

%html
  %head
    %link{ :rel => "stylesheet", :href => "/toolbelt.css" }

  %body

    %h1 Toolbelt
    
    %ul#platforms
      %li
        %a{ :href => "/download/windows" } Windows
      %li
        %a{ :href => "/download/osx" }     OSX
      %li
        %a{ :href => "/download/linux" }   Linux
