%header
  %h1
    Heroku Toolbelt

  %h2
    The Heroku Toolbelt will give you everything you need
    %br
    to get started using Heroku

.div
  %nav
    %ul#platform.tabNavigation
      %li.osx
        %a{ :href => "#osx" }
          %span.icon

          %span
            Mac OS X

      %li.windows
        %a{ :href => "#windows" }
          %span.icon

          %span
            Windows

      %li.ubuntu
        %a{ :href => "#linux" }
          %span.icon

          %span
            Debian/Ubuntu

  #instructions
    #osx.tab-content.defaulttab
      ~ markdown_plus :osx

    #windows.tab-content
      ~ markdown_plus :windows

    #linux.tab-content
      ~ markdown_plus :linux
