%h1 Heroku Toolbelt

%ul#platforms
  %li
    %b Mac OS X:
    %a{ :href => "/osx/readme" } readme
    |
    %a{ :href => "/osx/download" } download
  %li
    %b Windows:
    %a{ :href => "/windows/readme" } readme
    |
    %a{ :href => "/windows/download" } download
  %li
    %b Ubuntu Linux:
    %a{ :href => "/linux/readme" } readme
