!!! 5
%html
  %head
    %meta{ :charset => "utf-8" }
    %title Heroku | Toolbelt

    %meta{ "http-equiv" => "X-UA-Compatible", :content => "IE=edge,chrome=1" }
    %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1.0" }

    %link{ :rel => "stylesheet", :href => "https://statics.herokuapp.com/fonts/fonts.css" }
    %link{ :rel => "stylesheet", :href => "/toolbelt.css" }

    %script{ :src => "https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" }

    :javascript
      $(function () {
        var tabContainers = $('#instructions > div');
        tabContainers.hide().filter(':first').show();

        $('.tabNavigation a').click(function () {
          tabContainers.hide();
          tabContainers.filter(this.hash).show();

          $('.tabNavigation a').removeClass('selected');
          $(this).addClass('selected');

          return false;
        }).filter(':first').click();
      });

  %body
    .wrapper
      = yield
