!!! 5

%html
  %head
    %title Heroku &mdash; Toolbelt

    %link{ :rel => "stylesheet", :href => "https://statics.herokuapp.com/fonts/fonts.css" }
    %link{ :rel => "stylesheet", :href => "/toolbelt.css" }

    %script{ :src => "https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" }

    :javascript
      $(function () {
        var tabContainers = $('#instructions > div');
        tabContainers.hide().filter(':first').show();

        $('.tabNavigation a').click(function () {
          tabContainers.hide();
          tabContainers.filter(this.hash).show();

          $('.tabNavigation a').removeClass('selected');
          $(this).addClass('selected');

          return false;
        }).filter(':first').click();
      });

  %body
    = yield
