%h2 Heroku Toolbelt for OSX

%h3 What is it?

The Heroku Toolbelt for OSX will give you everything you need to get started using Heroku. The installer 
contains:

%ul
  %li
    A standalone version of the
    %a{ :href => "http://github.com/heroku/heroku" } heroku
    command line client
  %li
    %a{ :href => "http://code.google.com/p/git-osx-installer/" } git-osx-installer
    for Snow Leopard and below

%h3 Download it

%a{ :href => "http://assets.heroku.com/heroku-toolbelt/heroku-toolbelt-beta.pkg" } Heroku Toolbelt for OSX

%h3 Getting started

Once installed, you'll have access to the heroku command from your command shell. Log in using the email
address and password you used when creating your Heroku account:

<pre>
$ heroku login
Enter your Heroku credentials.
Email: adam@example.com
Password: 
Could not find an existing public key.
Would you like to generate one? [Yn] 
Generating new SSH public key.
Uploading ssh public key /Users/adam/.ssh/id_rsa.pub
</pre>

You're now ready to create your first Heroku app:

<pre>
$ cd ~/myapp
$ heroku create --stack cedar
Creating stark-sword-398... done, stack is cedar
http://stark-sword-398.herokuapp.com/ | git@heroku.com:stark-sword-398.git
Git remote heroku added
</pre>

%h3 Staying up to date

To keep your heroku client updated, simply run <code>heroku update</code>

%pre
  :preserve
    $ heroku update
    -----> Updating to latest client... done

%h3 Technical details

The <code>heroku</code> command line client will be installed into <code>/usr/local/heroku</code> and the
executable will be symlinked as <code>/usr/bin/heroku</code>
