@import "compass/reset"
@import "compass/css3"

body
  background: #1b1b24
  color: #8487AF
  font:
    family: "helvetica neue", helvetica, arial, geneva, sans-serif
    size: 14px

header
  font-family: "CorbelRegular", "helvetica neue", helvetica, arial, geneva, sans-serif
  -webkit-font-smoothing: antialiased
  font-weight: normal
  padding: 50px 0
  text-align: center
  text-shadow: 0 1px 1px #000
  text-transform: lowercase

  h1
    color: #fff
    font-size: 36px
    margin-bottom: 18px

  h2
    color: #a292ff
    font-size: 25px
    line-height: 30px

nav
  text-align: center

  li
    display: inline-block
    margin-right: 50px

    a
      color: #5c5f80
      display: block
      font:
        family: "CorbelRegular", "helvetica neue", helvetica, arial, geneva, sans-serif
        size: 20px
      text-decoration: none
      text-shadow: 0 0 1px #000
      width: 150px

      span
        display: block

      .icon
        background-image: url(/images/os_logos.png)
        height: 148px
        margin-bottom: 15px

      &:hover
        color: rgb(166, 166, 255)
        text-shadow: 0 0 6px rgba(120, 120, 255, .4)

      &.selected
        color: rgb(143, 191, 255)
        text-shadow: 0 0 6px rgba(56,187,253,.7)

    &:last-child
      margin-right: 0

    &.osx a:hover .icon
      background-position: 0 -148px

    &.osx a.selected .icon
      background-position: 0 -296px

    &.windows .icon
      background-position: -150px 0

    &.windows a:hover .icon
      background-position: -150px -148px

    &.windows a.selected .icon
      background-position: -150px -296px

    &.ubuntu .icon
      background-position: -300px 0

    &.ubuntu a:hover .icon
      background-position: -300px -148px

    &.ubuntu a.selected .icon
      background-position: -300px -296px

#instructions
  margin: 0 auto
  padding: 50px 0
  width: 600px

  .hide
    display: none

  a:link,
  a:visited
    color: #9782FF
    text-decoration: none

  h3
    color: #D4D4FF
    font:
      family: "CorbelRegular", "helvetica neue", helvetica, arial, geneva, sans-serif
      size: 20px
    margin-bottom: 24px

  p
    line-height: 18px
    margin-bottom: 24px

    &.button
      text-align: center

    &.button a:link,
    &.button a:visited
      background: #7B5AE0
      background-position: 24px center, 0 0
      background-repeat: no-repeat
      @include background-image(image-url("/images/download_glyph.png"), linear-gradient(top, #9372F7,#6443C9))
      border: transparent
      border-radius: 41px
      box-shadow: 0 1px 3px rgba(0,0,0,0.5),0 1px 2px rgba(255,255,255,0.25) inset
      color: #100F14
      display: inline-block
      font-family: "helvetica neue", helvetica
      font-size: 14px
      -webkit-font-smoothing: antialiased
      font-weight: bold
      min-width: 80px
      padding: 9px 24px 9px 42px
      text-align: center
      text-decoration: none
      text-shadow: 0 1px 0 rgba(255, 255, 255, 0.15)

  ul
    list-style: disc
    margin-bottom: 24px
    padding-left: 16px

    li
      line-height: 18px

  code
    font:
      family: monaco, monospace
      size: 12px

  pre
    background: #111116
    @include border-radius(3px)
    @include box-shadow(0 1px 0 rgba(255, 255, 255, .02), 0 1px 2px rgba(0, 0, 0, .25) inset)
    line-height: 20px
    margin-bottom: 24px
    overflow-x: scroll
    padding: 12px

    .highlight
      color: #9588FC
