%h2 Heroku Toolbelt for Windows

%h3 What is it?

The Heroku Toolbelt for Windows will give you everything you need to get started using Heroku. The installer 
contains:

%ul
  %li
    A standalone version of the
    %a{ :href => "http://github.com/heroku/heroku" } heroku
    command line client
  %li
    %a{ :href => "http://code.google.com/p/msysgit/" } msysgit
    which includes both git and ssh

%h3 Download it

%a{ :href => "/windows/download" }
  Heroku Toolbelt for Windows

%h3 Getting started

Once installed, you'll have access to the heroku command from your command shell. Log in using the email
address and password you used when creating your Heroku account:

%pre
  :preserve
    $ heroku login
    Enter your Heroku credentials.
    Email: adam@example.com
    Password: 
    Could not find an existing public key.
    Would you like to generate one? [Yn] 
    Generating new SSH public key.
    Uploading ssh public key /Users/adam/.ssh/id_rsa.pub

You're now ready to create your first Heroku app:

%pre
  :preserve
    $ cd ~/myapp
    $ heroku create --stack cedar
    Creating stark-sword-398... done, stack is cedar
    http://stark-sword-398.herokuapp.com/ | git@heroku.com:stark-sword-398.git
    Git remote heroku added

%h3 Staying up to date

To keep your heroku client updated, simply run <code>heroku update</code>

%pre
  :preserve
    $ heroku update
    -----> Updating to latest client... done

%h3 Technical details

The <code>heroku</code> client will be installed into Program Files, and will contain a bundled Ruby VM
for its own execution.
