%header
  %h1
    Heroku Toolbelt

  %h2
    Everything you need to get started using Heroku

.div
  %nav
    %ul#platform.tabNavigation
      %li.osx
        %a{ :href => "/osx" }
          %span.icon

          %span.title
            Mac OS X

      %li.windows
        %a{ :href => "/windows" }
          %span.icon

          %span.title
            Windows

      %li.linux
        %a{ :href => "/linux" }
          %span.icon

          %span.title
            Debian/Ubuntu

  #instructions
    ~ markdown_plus platform
